.page.sub-title{  padding-bottom: 30px;  border-bottom: 1px solid #e5e5e5;  font-weight: 200;  margin: 0;padding-right: 50px;line-height: 27px;}

.contact-page{  overflow: hidden;  }
.contact-page h1{  font-size: 73px;  margin: 30px 0 13px;  }
.contact-page .form{  float: left;  width: 70%;  padding-right: 55px;}
.contact-page .details-contact{  overflow: hidden;  }
.contact-page .write-to-us, .contact-page .call-us{  overflow: hidden;  padding-bottom: 25px;  border-bottom: 1px solid #e5e5e5;  position:relative;line-height: 25px;}
.contact-page .write-to-us:after,
.contact-page .call-us:after{content:''; height: 1px; width: 100%;  bottom: 0px; left: -100%; position:absolute;background: #2D8CC9;-webkit-transition: border 100ms ease-out 200ms;     -moz-transition: border 300ms ease-out 300ms;     -o-transition: border 100ms ease-out 200ms;     transition: left 200ms ease-out;}

.contact-page .write-to-us:hover:after,
.contact-page .call-us:hover:after{ left: 0;}

.contact-page .write-to-us:hover, .contact-page .call-us:hover{/* border-bottom: 1px solid #969393; */}
.contact-page .form .title, .contact-page .details-contact .title{  margin: 25px 0;  font-size: 18px;  text-transform: uppercase;  font-weight: 700;  line-height: 18px;}
.contact-page .form .form-wrapper{  background: #E5E5E5;  padding: 20px 30px 35px;overflow: hidden;border: solid 1px #E5E5E5;
    -webkit-transition: border 100ms ease-out 200ms;
    -moz-transition: border 300ms ease-out 300ms;
    -o-transition: border 100ms ease-out 200ms;
    transition: border 100ms ease-out 200ms;
}
.contact-page .error{font-size: 14px;}
.contact-page .form .form-wrapper:hover{border: solid 1px #8E8F90;}
.contact-page .form .form-wrapper .ju-input-wrapper{margin: 0;float: left;width: 50%;box-sizing: border-box;}
.contact-page .form .form-wrapper .ju-input-wrapper:nth-child(odd){padding: 10px 15px 0 0;}
.contact-page .form .form-wrapper .ju-input-wrapper:nth-child(even):after{content:'';clear: both;display: inline-block;}
.contact-page .form .form-wrapper .ju-input-wrapper:nth-child(even){padding: 10px 0px 0 15px;}
.contact-page .form .form-wrapper .ju-input-wrapper input{display: block;width: 100%;padding:  0 5px;margin: 0;border: 1px solid #D2D2D2;height: 40px;line-height: 40px;
    /* -webkit-transition: all 200ms ease-out;      -moz-transition: all 200ms ease-out;      -o-transition: box-shadow 200ms ease-out 100ms;       transition: box-shadow 200ms ease-out 100ms; */}
.contact-page  input,.contact-page  textarea{font-size: 14px;}
.contact-page .form .form-wrapper .ju-input-wrapper input:focus,
.contact-page .form .form-wrapper .ju-input-wrapper textarea:focus{border-color: #8E8D8D;-moz-box-shadow: inset 0 0 13px -5px #757575;     /* -webkit-box-shadow: inset 0 0 13px -5px #757575; */     /* box-shadow: inset 0 0 13px -5px #757575; */}
.contact-page .form .form-wrapper .ju-input-wrapper label{margin: 0;display: block;line-height: 29px;color: black;}
.contact-page .form .form-wrapper .ju-input-wrapper.textarea{margin: 0;display: block;line-height: 29px;width: 100%;float: none;overflow: hidden;padding-right: 0;box-sizing: border-box;}
.contact-page .form .form-wrapper .ju-input-wrapper textarea{display: block;width: 100%;height: 100px;margin: 0;padding: 10px;border: 1px solid #D2D2D2;}
.contact-page .note{  font-size: 18px;  margin: 40px 0 20px;  overflow: hidden;  font-weight: 200;}
.contact-page .faq-links{}
.contact-page .faq-links div{ width: 25%; display:inline-block;float: left;}
.contact-page .faq-links div a{color: black;box-sizing: border-box;text-align: center;font-size: 17px;line-height: 21px;padding: 20px;}
.contact-page .faq-links div a span{position:relative; z-index:4}
.contact-page .faq-links div a:hover{color: #194F9B;}
.contact-page .faq-links .ju-effect-1::before, .ju-effect-1::after{  background: #000000;  /* width: 30%; */  }
.contact-page .faq-links .ju-effect-1:hover::before,
.contact-page .faq-links .ju-effect-1:hover::after,
.contact-page .faq-links .ju-effect-1:focus::before,
.contact-page .faq-links .ju-effect-1:focus::after{background: #908F8F;background: #e55514;width: 30%;}
.contact-page .faq-links .ju-effect-1::before{}
.contact-page .send.btn{height: 50px;  line-height: 46px;  width: 100%;  max-width: 200px;margin: 20px 0 0;    display: block;color: white;font-size: 19px;}
.contact-page .details-wrapper{position: relative;overflow: hidden;}
.contact-page .social-button-wrapper{}
.contact-page .social-button{  max-width: 291px;  margin: 25px 10px 25px 0;  font-size: 16px;  color: black;/* overflow: hidden; */border: none;padding: 15px 20px;display: block;}
.contact-page .social-button:nth-child(3){  margin-top: 58px;  }
.contact-page .social-button span{  position: relative;  bottom: 2px;  }
.contact-page .social-button .fa-facebook-square{color:#39539e;}
.contact-page .social-button .fa-twitter-square{color:#4cb8f7}
.contact-page .twitter.ju-effect-2::after{  border-color: #4CB8F7;  }
.contact-page .facebook.ju-effect-2::after{  border-color: #39539E;  }
.contact-page .wrapper-social-buttons{  /* height: 230px; */margin-top: 25px;}


/* select */
.ju-select{}
.ju-select select{display: none}
.ju-select .ju-expander:after{
    position: absolute;
    color: #E5E5E5;
    right: 13px;
    top: 12px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f078";
    -webkit-transition: transform 300ms ease-out , color 200ms;
    -moz-transition: transform 300ms ease-out , color 200ms;
    -o-transition: transform 300ms ease-out , color 200ms;
    transition: transform 300ms ease-out , color 200ms;
}
.ju-select.ju-expandable.ju-expanded .ju-expander:after{color: #7D7D7D;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
}
.ju-select.ju-expandable{width: 100%;height: 40px;overflow: hidden;cursor: pointer;z-index: 5000;}
.ju-select.ju-expandable .options{  opacity: 0;  border: 1px solid #D2D2D2;  border-top: none;  border-color: #8E8D8D;
    -webkit-transition: opacity 300ms ease-out ;
    -moz-transition: opacity 300ms ease-out ;
    -o-transition: opacity 300ms ease-out ;
    transition: opacity 400ms ease-out;
}
.ju-select.ju-expandable .ju-option{  height: 40px;  line-height: 40px;  background: white;  border-bottom: 1px solid #D2D2D2;  padding-left: 10px;  z-index: 2;position: relative;}
.ju-select.ju-expandable .ju-option.active{  background: #F5F5F5;  }
.ju-select.ju-expandable .ju-option.active:after{    content: "\f00c"; color: #8E8D8D;  font: normal normal normal 14px/1 FontAwesome;margin-left: 10px;}
.ju-select.ju-expandable .ju-option:hover{  background: #F7F7F7;  }
.ju-select.ju-expandable.ju-expanded{overflow: visible;}
.ju-select.ju-expandable.ju-expanded .options{  opacity: 1;  }
.ju-select.ju-expandable .ju-expander{height: 40px;position: relative;line-height: 40px;background: white;border: 1px solid #D2D2D2;padding-left: 10px;}
.error .ju-select.ju-expandable .ju-expander{  border-color: red;  color: initial;  }
.ju-select.ju-expandable.ju-expanded .ju-expander{  border-color: #8E8D8D;  border-bottom-color: #D2D2D2;  }

/* end - select */

@media (max-width: 700px) {
    .contact-page .form{width: 100%;float: none;padding: 3px;}
    .contact-page .details-contact{ height: 318px;}
    .contact-page .wrapper-call-and-write{  float: left;  width: 50%;  padding: 0 20px;  }
    .contact-page .wrapper-social-buttons{  float: left;width: 50%;height: 100%;}
}

@media (max-width: 480px) {
    .contact-page .form .form-wrapper .ju-input-wrapper,
    .contact-page .form .form-wrapper .ju-input-wrapper:nth-child(even),
    .contact-page .form .form-wrapper .ju-input-wrapper:nth-child(odd){    float: none;    width: 100%;   padding: 0;}
    .contact-page .form .form-wrapper{  padding: 20px 10px 35px;  }
    .contact-page .faq-links div{width:80%; margin:0 auto;float: none;display: block;}
    .contact-page .form .form-wrapper .ju-input-wrapper:nth-child(even):after{display:block}
    .contact-page .details-contact{height:auto}
    .contact-page .wrapper-call-and-write{  width: 100%;  float: none;  }
    .contact-page .wrapper-social-buttons{  float: none;width: 100%;}
    .contact-page .social-button{margin:20px auto; max-width:90%}
    .ju-select.ju-expandable{height:auto}
    .ju-select.ju-expandable .options{display:none}
    .ju-select.ju-expandable.ju-expanded .options{display:inherit}
}