@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,300,100italic,900,900italic);

body{margin: 0; padding: 0; /* background: #E6E6E6; *//* min-height: 3000px; *//* font-family: 'Lato'; */}
ul{margin: 0; color: white;padding: 0;}
.btn{cursor: pointer}
a span{display: inline-block}
a{color: white;letter-spacing: .5px;}
.clear{clear:both}


.max-width-content{max-width: 1176px; margin: 0 auto;height: 100%;}
.main-menu .max-width-content{position:relative}

nav.links .ju-logo {  float: left;  height: 100%;  position: relative;  overflow: hidden;  z-index: 10;  }

.mask{opacity: 0;background-color: #000;      position: fixed;      right: 0;      left: 0;      top: 0;      bottom: 0;      z-index: 3;      opacity: 0;      -moz-transition: opacity .3s;      -webkit-transition: opacity .3s;      -o-transition: opacity .3s;      transition: opacity .3s;}
.menu-open .mask,
.sub-menu-open .mask{opacity: 0.8;                        }

.scroll-top{  z-index: 5;  width: 50px;  cursor: pointer;  height: 50px;  position: fixed;  bottom: -80px;  right: 40px;  background-color: #194f9b;  border: none;  border-radius: 40px;  color: white;  box-shadow: 1px 2px 2px #333;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.sticky .scroll-top{bottom:40px}
.scroll-top:hover{height: 60px;}

nav ul li{display: inline-block;height: 100%;}
nav ul li a{width:100%; height:100%;display: inline-block;box-sizing: border-box;text-decoration: none;}
nav.social-and-login{background: #2a8ecd;height: 42px; font-size:15px;position: relative;z-index: 9;}

nav ul{height: 100%;/* position: relative; *//* z-index: 1; */}
nav.social-and-login ul li{border-right: 1px solid #1d6796;float: left;}
nav.social-and-login ul li a{padding: 0 15px;-webkit-transition: all 400ms ease-out 100ms;      -moz-transition: all 400ms ease-out 100ms;      -o-transition: all 400ms ease-out 100ms;      transition: all 400ms ease-out 100ms;}

nav.social-and-login ul li.search a i.fa-times{display:none}
nav.social-and-login ul li.search.ju-expanded a i.fa-search{display:none}
nav.social-and-login ul li.search.ju-expanded a i.fa-times{display:inline-block}


nav.social-and-login ul li a.search i{display:none}
nav.social-and-login ul li a.search i.fa-search{display:inline-block}
.search-open nav.social-and-login ul li a.search i.fa-search{display:none}
.search-open nav.social-and-login ul li a.search i.fa-times{display:inline-block}
nav.social-and-login ul li.ju-expanded a,nav.social-and-login ul li a:hover{background:white; color:#194f9b}
nav.social-and-login ul li a.twitter:hover{ color:#55ACEE}
nav.social-and-login ul li a.facebook:hover{ color:#415E9B}
nav.social-and-login ul li a.youtube:hover{ color:#DC2725}
nav.social-and-login ul li:first-child{border-left: 1px solid #1d6796;}

nav.social-and-login ul.login{float:left;}
nav.social-and-login ul.login i{margin: 0 7px 0 0;width: 15px;}
nav.social-and-login ul.social{float:right;}
nav.social-and-login ul.social li{float:right;}
nav.social-and-login ul.social li.search{display: none !important;}
nav.social-and-login ul.social li:first-child{border-left:0px solid #1d6796}

nav.social-and-login .sign-up-to-newsletter{  width: 243px;  }
.sign-up-to-newsletter .fa-times{display:none}
.sign-up-to-newsletter .fa-times{display:none}
.sign-up-to-newsletter.ju-expanded i{display: none;}
.sign-up-to-newsletter.ju-expanded .fa-times{display: inline-block;}
.sign-up-to-newsletter .wrapper{  display: none;background-color: #ddd;  padding: 10px 10px;  box-sizing: border-box;  margin-top: -3px;  border-top: 1px solid #1D6796;  /* border: 1px solid #9A9A9A; */border-top: none;/* -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg); */      /* -webkit-transform-origin: 50% 0; */      /* -webkit-transition: 350ms; */      -moz-transition: 350ms;      -o-transition: 350ms;      /* transition: 350ms; */}
.sign-up-to-newsletter.ju-expanded .wrapper{display:block;/* -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0); *//* height: 96px; */}
.sign-up-to-newsletter .wrapper input{  height: 30px;  width: 100%;  margin: 0px 0 10px 0px;  padding: 0;  border: none;  outline: none;text-indent: 5px;}
.sign-up-to-newsletter .wrapper button{  width: 100%;  height: 33px;  line-height: 27px;  color: #5D6E83;  border: none;  text-transform: uppercase;  /* background-color: #E6E6E6; */color: white;}


header.mobile-menu{  background-color: #fff;  display: none;}
header.mobile-menu .donate-btn{}
header.mobile-menu button{  /* padding: 11px 13px; */  width: 67px;height: 100%;border: none;  background-color: #194F9B;  font-size: 26px;  color: #fff;  outline: none;float: right;cursor: pointer;}
header.mobile-menu button .fa-times{display:none}
.menu-open header.mobile-menu button .fa-bars{display:none}
.menu-open header.mobile-menu button .fa-times{display:block}

nav.links{z-index: 7;/* height: 67px; */  background-color: white;  width: 100%;-webkit-transition: all 200ms ease-out;      -moz-transition: all 200ms ease-out;      -o-transition: all 200ms ease-out;      transition: all 200ms ease-out;position: relative;}
nav.links ul a{color:#5d6e80;/* letter-spacing: .5px; */}
nav.links ul li a{  padding: 0 27px;  text-transform: uppercase;  font-weight: 700;  }
ul.has-sub-menu a:only-child{}
nav.links ul li.donate a{  color: #EE7624;  }
.main-menu-ul{float:right}

nav.links ul li{border-right: 1px solid #c2c2c2;/* float: right; */}
nav.links ul li.donate{border:none}
nav.links ul li .sub-menu{  position: absolute;  right: 0;  left: 0;  background-color: #f3f4f5;  height: 0px;  overflow: hidden;
    -webkit-transition: all .5s cubic-bezier(0, 0, 0.49, 1.06) 200ms;
    -moz-transition: all .5s cubic-bezier(0, 0, 0.49, 1.06) 200ms;
    -o-transition: all .5s cubic-bezier(0, 0, 0.49, 1.06) 200ms;
    transition: all .5s cubic-bezier(0, 0, 0.49, 1.06) 200ms;
}

nav.links ul li.films{}
nav.links ul li.films li a{padding:0}

nav.links ul li.video-course .search-place{width: 280px; height:300px; background-color: white;text-align: center;padding-top: 39px;box-sizing: border-box;float: left;}
nav.links ul li.video-course .search-place i.fa-search{font-size: 53px;padding-bottom: 25px;margin-bottom: 25px;border-bottom: 1px solid #194f9b;transform:scale(.4);
    -webkit-transition: transform 400ms ease-out 500ms;
    -moz-transition: transform 400ms ease-out 500ms;
    -o-transition: transform 400ms ease-out 500ms;
    transition: transform 300ms ease-out 500ms;
}
nav.links ul li.video-course:hover .search-place i.fa-search{transform:scale(1)}
nav.links ul li.video-course .search-place .title{  font-weight: 600;  margin-bottom: 15px;  }
nav.links ul li.video-course .search-place .sub-title{  font-size: 15px;  font-weight: 600;  }
nav.links ul li.video-course .search-place a{  height: 37px;  text-decoration: none;  background-color: #2a8ecd;  color: white;  line-height: 37px;  text-align: left;  font-weight: 500;  text-transform: none;  margin-top: 26px;  }
nav.links ul li.video-course .search-place a i{  position: relative;  right: -110px;  }

nav.links ul li .sub-menu  ul.parent{  border-right: 1px solid #cbcccd;  overflow: hidden;  display: inline-block;  float: left;  /* min-width: 208px; */  /* padding-left: 26px; */  /* width: 25%; */  box-sizing: border-box;}
nav.links ul li .sub-menu a{text-decoration:none;color: black;text-transform: initial;}

nav.links ul li .sub-menu  ul.parent:last-child{border:none}
nav.links ul li .sub-menu ul.child{  width: 100%;  height: 100%;  float: none;  color: black;  /* padding: 12px 0; */}
nav.links ul li .sub-menu ul.child li a{  font-weight: 500;  }
nav.links ul li .sub-menu ul.child .title a{  color: #2a8ecd;  font-size: 17px;/* margin-left: 10px; */font-weight: 700;/* padding: 0; */}
nav.links ul li .sub-menu ul.child a:hover{  color: #194f9b;  }
nav.links ul li .sub-menu ul li{  border: none;  float: none;  display: inline-block;  width: 100%;  line-height: 28px;}
nav.links ul li .sub-menu ul.child li{float:none;/* display: block; *//* border: none; */height: auto;/* margin-bottom: 8px; */}
nav.links ul li.films .sub-menu ul.child li:last-child a{border:none}
nav.links ul li .sub-menu ul.child li:first-child a{border:none;            }
.third-menu{display:none}
nav.links .third-menu ul li.video-series .sub-menu ul.child .title a{  height: 100%;  display: inline-block;  padding: 0 10px;  color: white;padding-top: 14%;text-align: center;background: rgba(0, 0, 0, 0.25);}
nav.links .third-menu ul li.video-series .sub-menu ul.child .title a .title{  font-size: 26px;  font-weight: bold;  }
nav.links .third-menu ul li.video-series .sub-menu ul.child .title a .sub-title{  font-size: 16px;  }
nav.links .third-menu ul li.video-series .sub-menu ul.parent{  width: 20%;  border-right: 0;  }
nav.links .third-menu ul li.video-series .sub-menu ul.parent .child > li{height:100%;background-position: center;      background-size: cover;}
nav.links .third-menu ul li.video-series .sub-menu .parent-ul-wrapper{padding: 0;}

#page{  padding-bottom: 350px;  background-color: #8A8A8A;}
.sticky #page{  padding-top: 50px;  }
.search-bar{
    width: 67px;
    height: 100%;
    position: absolute;
    right: -67px;
    background-color: #194f9b;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    color: white;
    overflow: hidden;
    z-index: 12;
}
.search-bar input[type=text]{  width: 99%;  height: 87%;  background-color: transparent;  border: none;  border-bottom: 1px solid #ADADAD;  outline: none;color: white;font-size: 28px;line-height: 28px;}
.search-bar .input-wrapper{    margin-top: 10px;  height: 45px;  display: block;  overflow: hidden;}
.search-bar .close-btn{position:absolute;background-color: white;top: 0;height: 100%;      width: 67px;color: #194F9B;opacity: 0;-webkit-transition: all 400ms ease-out;      -moz-transition: all 400ms ease-out 400ms;      -o-transition: all 400ms ease-out 400ms;      transition: all 400ms ease-out 400ms;right: -66px;font-size: 26px;cursor: pointer;}
.search-bar.ju-expanded .close-btn{opacity:1;/* top: 0; */}
.sticky .search-bar .input-wrapper{height: 35px;}
.search-bar .center{    max-width: 20px;  margin: 0 auto;   }
.open-search-btn{height: 100%;width: 67px;z-index: 100;position: relative;float: left;cursor: pointer;text-align: center;}
.search-bar.ju-expanded{  width: 100%;  height: 100%;  position: absolute;  right: 0;  background-color: #194f9b;    overflow: inherit;}

.mobile-search-bar{height: 67px;background-color: #eee;padding: 0 20px;box-sizing: border-box;color: #a9b0b0;width: 100%;}
.mobile-search-bar .fa-search{  color: #194F9B;}
.mobile-search-bar .fa-times-circle{  display: none;  font-size: 22px;  }
.mobile-search-bar input{  background-color: transparent;  height: 100%;  line-height: 67px;  padding: 0;  border: none;  margin: 0 0px 0 10px;  font-size: 15px;  max-width: 181px;  }

.social-and-login.mobile-only ul{  max-width: 80%;  margin: 0 auto;  }
.social-and-login.mobile-only ul li{  width: 25%;  float: right;  padding: 20px 5px;  box-sizing: border-box;  color: white;  text-align: center;  border: none;  height: 80px;}
.social-and-login.mobile-only ul li a{  color: white;  border-radius: 10px;  padding: 0;  text-align: center;  max-width: 39px;  margin: 0 auto;  height: 100%;width: 37px;}
.social-and-login.mobile-only ul li a.facebook{  background-color: #415E9B;  border-radius: 10px;  }
.social-and-login.mobile-only ul li.facebook a{  background-color: #415E9B;  }
.social-and-login.mobile-only ul li.twitter a{  background-color: #55ACEE;  }
.social-and-login.mobile-only ul li.tumblr a{  background-color: #194f9b;  }
.social-and-login.mobile-only ul li.youtube a{  background-color: #DC2725;  }
nav.links ul li.donate a img{  max-width: 30px;  display: inline-block;  position: relative;  }
.contact i{display: inline-block}
@media (min-width: 1002px){
    .menu-open .mask, .sub-menu-open .mask{display: none}
    .sign-up-to-newsletter .wrapper {  margin-right: -1px;  margin-left: -1px;  border: 1px solid #9A9A9A;  border-top: 0;  }
    nav.links ul li .sub-menu{  margin-top: -2px; }
    .main-menu-ul > li{ margin-left: -3px;}
    nav.links ul li .sub-menu ul.parent{width:25%;box-sizing: border-box;}
    nav.links ul li.films .sub-menu ul.parent:first-child{width: 20%;padding: 0px 25px;border: none;}
    nav.links .third-menu ul li{float:left}
    nav.links .third-menu ul a{color:#685959;font-size: 14px;}
    nav.links .third-menu ul li:first-child a{color:#194f9b;font-size: 26px;padding-left: 0;-webkit-transition: all 200ms ease-out;      -moz-transition: all 200ms ease-out;      -o-transition: all 200ms ease-out;      transition: all 200ms ease-out;}
    .sticky nav.links .third-menu ul li:first-child a{font-size: 22px;}
    .main-menu{   height: 67px;   -webkit-transition: all 200ms ease-out;      -moz-transition: all 200ms ease-out;      -o-transition: all 200ms ease-out;      transition: all 200ms ease-out;   z-index: 2;   position: relative;}
    .third-menu{
        height: 50px;
        background-color: #f2f2f2;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        display: block;
        border-top: 1px solid #C2C2C2;
    }
    nav .third-menu ul{  position: initial;  }
    .sticky .main-menu{   height: 55px;}
    .sticky .third-menu{height: 45px;}
    nav.links ul li:hover .sub-menu{height:300px;box-shadow: 0px 1px 2px #616060;}
    nav.links ul li.active .sub-menu{height:300px;box-shadow: 0px 1px 2px #616060;}
    nav.links ul li.video-series:hover .sub-menu,
    nav.links ul li.video-series.active .sub-menu{  height: 225px;  }
    nav.links ul li .sub-menu .parent-ul-wrapper{  overflow: hidden;  padding: 28px 0;  height: 100%;  box-sizing: border-box;  }
    nav.links ul li.films .sub-menu .parent-ul-wrapper{padding-bottom: 25px;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul:nth-child(2){width:50%;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul:nth-child(2) .child li{float:left;width: 50%;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper > ul:last-child{  padding-left: 30px;  box-sizing: border-box;  }
    nav.links ul li.films .sub-menu .parent-ul-wrapper > ul:last-child a{font-weight: bold; width: 70%;line-height: 17px;}

    nav.links ul li.films .sub-menu .parent-ul-wrapper > ul:last-child li{margin:4px 0}
    nav.links ul li.films .sub-menu .parent-ul-wrapper > ul:last-child li:first-child{margin:0}
    nav.links ul li.films img{display:block;width: 250px;height: 97px;}
    nav.links ul li.films .sub-menu ul.films-gallery a{color:#2a8ecd;}
    nav.links ul li.films .sub-menu li a span{display:block; padding-left:10px; font-weight:normal}

    nav.links ul li:hover a{  color: #194f9b;  background-color: #f3f4f5;  }
    nav.links ul li a.main-menu-link{   position: relative;top: 1px;border-bottom: 1px solid #C2C2C2;z-index: 3;}
    nav.links ul li.has-sub-menu:hover a.main-menu-link{   border-bottom: 1px solid #F3F4F5;}
    nav.links ul li.donate:hover a{  color: #EE7624;  }
    nav.links ul li:hover .sub-menu a{color:black;}
    nav.links ul li.video-course:hover .search-place a{color:white}
    .sticky nav.links{position: fixed; top: 0;/* height: 50px; */box-shadow: 1px 1px 1px 1px #D6D5D5;}
    .sticky nav.links.hide{top: -104px;}
    .sticky .ju-logo .text .slogan{position:absolute; top: 55px;}
    .sticky .ju-logo svg{  height: 36px;   }
    .sticky .ju-logo .text .company-name{font-size: 25px;padding-top: 3px;}
}

@media (min-width: 1002px) and (max-width: 1350px){
    .sticky.search-open .search-bar{ display:none }
    nav.links ul li.donate{border-right: 1px solid #c2c2c2;}
    .search-bar{right:0; width:0}
    nav.social-and-login ul.social li.search{display: block !important;}
    nav.social-and-login ul.social li.search.ju-expanded a{  background-color: #194F9B; color:white}
    nav.social-and-login ul li.search.ju-expanded a:hover{  background: #194f9b;  color: white;  }
    .search-bar .close-btn{right:0;display: none;}
    .search-bar .input-wrapper{}

}

@media (max-width: 1002px){
    .social-and-login.mobile-only{   display: block !important;}
    nav.links ul li .sub-menu ul.child li:first-child a{line-height: 60px;      min-height: 60px;      height: 60px;}
    i.icon.donate{display: inline-block;position: relative;left: -5px;}
    header.mobile-menu .donate-btn{background-color: #eb7225;float: right;padding: 0 30px;height: 100%;line-height: 67px;text-decoration: none;text-transform: uppercase;}
    nav.links ul li .sub-menu a{  color: #585757;  margin: 0 10px;  padding: 0;  width: auto;  display: block;  border-bottom: 1px solid #DEDCDC; /* margin-left: 20px; */  line-height: 60px;}
    .main-menu-ul,.third-menu{/* top:47px; */position: relative;float: none;}
    .relative{    position: relative;  overflow: overlay;  height: 100%;}
    nav ul{overflow-y: auto;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul .child li,
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul .child li a{height: auto;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul .child li a{padding: 0 27px;border-bottom: 0;}
    nav.links ul li.films .sub-menu .parent-ul-wrapper ul .child li a img{max-width:100%;display: block;}

    nav.links ul li .sub-menu ul.child li{background-color:#fff;line-height: 35px;min-height: 35px;height: 35px;}
    nav.links ul li .sub-menu ul.child li a{  line-height: 35px;  min-height: 35px;  height: 35px;  margin: 0;  padding: 0 27px;  }
    nav.links ul li .sub-menu ul.child li:first-child{  /* background-color: #DEDCDC; */  color: white;  line-height: 60px;height: 60px;}

    nav.links ul li .sub-menu ul.parent:first-child .child li:last-child{  box-sizing: border-box;  line-height: 20px;  }
    .parent-ul-wrapper ul:first-child{}
    nav.links ul li .sub-menu ul.parent{  display: block;  float: none;  padding: 0;  border: none;  }
    nav.links ul li.video-course .search-place{display:none}
    .max-width-content{/* overflow-y: auto; */}
    nav.links ul li .sub-menu{/* display: block; */position: relative;/* height: auto; */}
    nav.links ul li.ju-expanded .sub-menu{height: auto;}
    #page{padding-top: 67px;-ms-transform: translateX(.01px);      -moz-transform: translateX(.01px);      -webkit-transform: translateX(.01px);      -o-transform: translateX(.01px);      transform: translateX(.01px);      -moz-transition: -ms-transform .3s;      -webkit-transition: -ms-transform .3s;      -o-transition: -ms-transform .3s;      transition: -ms-transform .3s;      -moz-transition: -webkit-transform .3s;      -webkit-transition: -webkit-transform .3s;      -o-transition: -webkit-transform .3s;      transition: -webkit-transform .3s;      -moz-transition: transform .3s;      -webkit-transition: transform .3s;      -o-transition: transform .3s;      transition: transform .3s;}
    .menu-open #page{
        position: fixed;
        z-index: 1;
        overflow: hidden;
        -ms-transform: translateX(280px);
        -moz-transform: translateX(280px);
        -webkit-transform: translateX(280px);
        -o-transform: translateX(280px);
        transform: translateX(-280px);
    }
    nav.social-and-login{display:none}
    header.mobile-menu{display:block}
    nav.links{

        /* overflow: overlay; */
        z-index: 3;
        position: fixed;
        top: 0;
        width: 280px;
        height: 100%;
        right: -280px;
        -ms-transform: translateX(.01px);
        -moz-transform: translateX(.01px);
        -webkit-transform: translateX(.01px);
        -o-transform: translateX(.01px);
        transform: translateX(.01px);
        -moz-transition: -ms-transform .3s;-webkit-transition: -ms-transform .3s;-o-transition: -ms-transform .3s;transition: -ms-transform .3s;-moz-transition: -webkit-transform .3s;-webkit-transition: -webkit-transform .3s;-o-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-moz-transition: transform .3s;-webkit-transition: transform .3s;-o-transition: transform .3s;transition: transform .3s;
    }
    nav.links.ju-expanded{
        -ms-transform: translateX(280px);
        -moz-transform: translateX(280px);
        -webkit-transform: translateX(280px);
        -o-transform: translateX(280px);
        transform: translateX(-280px);
    }
    .ju-logo .text .slogan{display:none}
    .ju-logo svg{height:35px}
    nav.links .ju-logo{height: 47px;width: 100%;padding-left: 10px;box-sizing: border-box;border-bottom: 1px solid #C1C0C0;border-right: 1px solid #C1C0C0;float: none;position: fixed;top: 0;background-color: white;display: none;}
    nav.links ul li{  width: 100%;  /* background-color: #5D6E80; */  border-right: none;  /* height: 60px; */  display: block;border-bottom: 1px solid #c2c2c2;min-height: 60px;}
    nav.links ul li.ju-expanded >  a{  background-color: #EEE;  }
    nav.links ul li.films{  background-color: #EEE;  }


    nav.links ul li.donate i.fa,
    nav.links ul li.sign-up-to-newsletter i.fa,
    nav.links ul li.login i.fa,
    nav.links ul li.contact i.fa{  margin-right: 12px;  color: #218DD0;font-size: 20px;position: relative;top: 2px;width: 21px;}

    nav.links ul li.donate a,
    nav.links ul li.sign-up-to-newsletter a,
    nav.links ul li.login a,
    nav.links ul li.contact a{  text-transform: none;  height: 50px;  font-weight: 500;  }

    nav.links ul li.donate,
    nav.links ul li.sign-up-to-newsletter,
    nav.links ul li.login,
    nav.links ul li.contact{  text-transform: none;  min-height: 50px;  border-bottom: 1px solid #c2c2c2;}

    nav.links ul li.donate a{  font-size: 16px;  text-transform: uppercase;  font-weight: bold;  }
    nav.links ul li.donate a span{line-height: 29px;}

    nav.links ul li.sign-up-to-newsletter{height:50px}
    nav.links ul li.sign-up-to-newsletter.ju-expanded{height: 140px;}
    nav.links ul li.has-sub-menu i{float: right;}
    nav.links ul li .sub-menu ul li{display:block}
    nav.links ul li a{padding: 0 25px;color: #5D6E80;/* border-bottom: 1px solid #FFF; */display: block;height: 60px;}
    header.mobile-menu{  position: fixed;  top: 0;  width: 100%; z-index: 3;  height: 67px;  right: 0;  overflow: hidden;  }
    header.mobile-menu button{
        -ms-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        -moz-transition:-ms-transform .3s;
        -webkit-transition:-ms-transform .3s;
        -o-transition:-ms-transform .3s;
        transition:-ms-transform .3s;
        -moz-transition:-webkit-transform .3s;
        -webkit-transition:-webkit-transform .3s;
        -o-transition:-webkit-transform .3s;
        transition: -webkit-transform .3s;
        -moz-transition: transform .3s;
        -webkit-transition: transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
    }
    header.mobile-menu.ju-expanded button{
        -ms-transform: translateX(-280px);
        -moz-transform: translateX(-280px);
        -webkit-transform: translateX(-280px);
        -o-transform: translateX(-280px);
        transform: translateX(-280px);
    }
    header.mobile-menu .ju-logo{  float: left;  height: 100%;  }
}

